.booking-page {
  padding: 0 4rem;
  background: #eae8e8;
  min-height: 750px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    div {
      display: flex;
      align-items: center;

      h3 {
        margin-right: 16px;
      }
      img {
        width: 50px;
        height: 50px;
        margin-right: 16px;
      }
    }
  }

  .filter {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    .td {
      background: #be5050;
      margin-right: 0.5rem;
      padding: 6px 7rem 6px 6px;
      border-radius: 8px;
    }
    .tl {
      background: #be5050;
      margin: 0 0.5rem;
      padding: 6px 30px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  .filter-body {
    height: 550px;
    margin-top: 1rem;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    article {
      flex: 1;
    }
    .business {
      padding: 0 2rem;
      overflow-y: scroll;
      scroll-padding-top: 1rem;
      font-family: "Josefin Sans", sans-serif;

      .item {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: 2px solid #817e7e;

        .item-pic {
          flex: 1;
          img {
            width: 110px;
            height: 110px;
            border-radius: 50%;
          }
        }
        .item-details {
          flex: 2;
          h3 {
            margin-bottom: 5px;
          }
        }
        button {
          flex: 1;
          background: #be5050;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          padding: 8px 12px;

          a {
            text-decoration: none;
            color: #ffffff;
            font-family: "Josefin Sans", sans-serif;
          }
        }
      }
    }
  }

  .item_overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 750px;
    height: 430px;
    max-width: 80%;
    transition: 200ms ease-in-out;
    border-radius: 20px;
    z-index: 5;
    background: #ffffff;
    display: flex;
    .item-1 {
      padding: 2rem;
      flex: 6;
      display: flex;
      flex-direction: column;
      h4 {
        color: #be5050;
        margin-bottom: 1rem;
      }
      h3 {
        cursor: pointer;
        background: #be5050;
        font-size: 16px;
        padding: 4px 15px;
        margin-top: 1rem;
        color: #ffffff;
        align-self: flex-end;
        border-radius: 5px;
      }
    }
    .item-2 {
      flex: 4;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background: #be5050;
      border-radius: 0 20px 20px 0;

      img {
        height: 80%;
        width: 90%;
      }
    }
  }

  #select_date.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(139, 139, 137, 0.5);
    pointer-events: none;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 3;
  }
}
