@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

.category-page {
  position: relative;
  //   width: 100%;
  height: 120vh;
  padding: 0 4rem;
  background: #eae8e8;
  overflow-x: hidden;
  overflow-y: hidden;

  .category-nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    .category-nav-logo {
      display: flex;
      flex-direction: column;
    }

    .category-nav-icon {
      span {
        margin-right: 2rem;
      }
    }
  }

  .nav-links {
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
  }

  .red-bg {
    position: absolute;
    height: 594px;
    width: 800px;
    background: #be5050;
    border-radius: 25px;
    transform: rotate(-62deg);
    left: 76.62%;
    top: 15.99%;
  }

  .category {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    .category-item {
      position: relative;
      height: 290px;
      width: 270px;
      border-radius: 25px;
      background: #ffffff;
      margin: 1rem;
      padding: 1rem 1.5rem;

      .category-item-tag {
        background: #ffbf81;
        height: 200px;
        width: 150px;
        position: absolute;
        right: 0;
        transform: skewY(20deg) translateY(-74px);
        border-radius: 10px 10px 0 10px;
      }

      .category-item-details {
        position: absolute;
        bottom: 1.5rem;
        font-family: "Josefin Sans", sans-serif;
        span {
          font-size: 16px;
          font-style: normal;
        }
        .category-item-cart {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 2rem;

          h4 {
            font-size: 26px;
            color: #be5050;
          }
          img {
            background: #ffbf81;
            // width: 40px;
            // height: 40px;
            padding: 2px;
            border-radius: 25px;
          }
        }
      }
    }
  }
}
