@font-face {
  font-family: "Rubik";
  font-weight: 300;
  font-display: block;
  src: url("../font/Rubik-Light.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-display: block;
  src: url("../font/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-display: block;
  src: url("../font/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 600;
  font-display: block;
  src: url("../font/Rubik-SemiBold.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-display: block;
  src: url("../font/Rubik-Bold.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-display: block;
  src: url("../font/Rubik-ExtraBold.ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 900;
  font-display: block;
  src: url("../font/Rubik-Black.ttf");
}

p {
  font-size: 16px;
  font-weight: 400;
}

a {
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 42px;
  font-weight: 300;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}
h3 {
  font-size: 22px;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}
h5 {
  font-size: 14px;
  font-weight: 400;
}
