@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

.home-page {
  background: #eae8e8;
  position: relative;
  overflow-x: hidden;

  .red-bg {
    position: absolute;
    width: 500px;
    height: 600px;
    background: #be5050;
    top: 0;
    right: 0;
    img {
      height: 550px;
      width: 500px;
      transform: rotate(11deg);
    }
  }

  nav {
    padding: 2rem;
    position: relative;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      li {
        flex: 1 200px;
        text-align: center;
      }
    }
  }

  .header {
    padding-top: 16rem;
    margin-left: 4rem;
    display: flex;
    padding-bottom: 1rem;

    .header-1 {
      width: 500px;

      p {
        font-size: 56px;
        font-weight: 500;
      }

      .beauty {
        font-weight: 500;
        font-size: 42px;
      }

      h3 {
        font-size: 40px;
        color: #a5a2a2;
        font-weight: 400;
      }

      button {
        vertical-align: bottom;
      }
    }
    .header-2 {
      background: black;
      width: 425px;
      height: 380px;
      position: relative;
      img {
        position: absolute;
        transform: translate(7rem, 2.5rem);
        width: 350px;
        height: 305px;
      }
    }
  }

  .step-swagger {
    font-family: "Montserrat", sans-serif;
    margin-left: 4rem;
    margin-top: 5rem;

    .step {
      font-size: 51px;
    }

    .your {
      color: #030303;
      font-size: 56px;
    }

    .swag {
      color: #be5050;
      font-size: 70px;
    }
  }

  .services {
    display: grid;
    margin: 0 4rem;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 16px;
    grid-template-rows: repeat(2, 220px);

    .service {
      position: relative;
      height: 220px;
      background: #ffffff;
      border-radius: 25px;
      font-family: "Montserrat", sans-serif;
      margin: 2rem 1rem;

      h3 {
        position: absolute;
        right: 2rem;
        top: 2rem;
        font-size: 28px;
        font-weight: bold;
      }

      button {
        position: absolute;
        border: none;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: bolder;
        padding: 12px 20px;
        background: black;
        color: #ffffff;
        right: 2rem;
        bottom: 1.5rem;
        border-radius: 25px;
      }
    }

    .haircuts {
      grid: 1 / 1 / 2 / 4;
      img {
        width: 210px;
        height: 220px;
        transform: translate(-2rem, -3rem);
      }
    }

    .barber {
      grid: 1 / 4 / 2 / 6;
      img {
        width: 290px;
        height: 297px;
        transform: translate(62px, -77px);
      }

      h3 {
        left: 2rem;
        top: 2rem;
      }

      button {
        left: 1.5rem;
        bottom: 1.5rem;
      }
    }

    .color {
      grid: 1 / 6 / 2 / 8;
      background: black;
      img {
        // width: 200px;
        height: 250px;
        transform: translate(100px, -77px);
      }
      h3 {
        color: #eae8e8;
      }
      button {
        background: #ffffff;
        color: black;
      }
    }

    .eyelashes {
      grid: 1 / 8 / 2 / 10;
      img {
        // width: 235px;
        height: 162px;
        transform: translate(2px, 37px);
      }
    }

    .facials {
      grid: 2 / 1 / 3 / 3;
    }

    .braids {
      grid: 2 / 3 / 3 / 6;
    }

    .natural {
      grid: 2 / 6 / 3 / 8;
    }

    .nails {
      grid: 2 / 8 / 3 / 10;
    }
  }

  .why {
    margin: 2rem 4rem;
    .why-title {
      text-align: center;
      margin-bottom: 4rem;
    }
    .why-body {
      display: flex;
      .why-item {
        font-family: "Montserrat", sans-serif;
        flex: 1;
        text-align: center;
        margin: 1rem 2rem;
        img {
          width: 72px;
          height: 72px;
        }
        h2 {
          margin: 1rem;
          font-size: 24px;
          font-weight: 800;
          color: #be5050;
        }
      }
    }
  }

  .olive-oil {
    height: 280px;
    background: #be5050;
    border-radius: 0 45px 45px 0;
    margin: 6rem 24% 6rem 0;
    position: relative;

    .olive-title {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 93px;
      color: #ffffff;
      width: 470px;
      position: absolute;
      padding-left: 1rem;
      top: 22%;
      display: flex;
      flex-direction: column;
    }

    #ol-img-1 {
      position: absolute;
      left: 21.89%;
      bottom: -30%;
      width: 600px;
      height: 600px;
    }

    #ol-img-2 {
      position: absolute;
      left: 55.21%;
      bottom: -33%;
      width: 420px;
      height: 550px;
    }

    .olive-shop {
      position: absolute;
      right: 0%;
    }
  }

  .pro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    .pro-1 {
      display: flex;
      flex-direction: column;
      font-size: 36px;
      margin-right: 6rem;
      .pro-1-p {
        color: #be5050;
      }
    }
    .pro-2 {
      button {
        background: #be5050;
        color: #eae8e8;
        border: none;
        padding: 14px 16px;
        border-radius: 15px;
        vertical-align: middle;
        font-size: 20px;
        font-family: "Josefin Sans", sans-serif;
      }
    }
  }
  .clients {
    margin: 4rem;
    h1 {
      margin-bottom: 8rem;
    }

    .client-list {
      display: flex;

      .client-item {
        flex: 1;
        margin: 0 1rem;
        background: #f7f2f2;
        border-radius: 55px;
        padding: 0 1rem;
        text-align: center;
        min-height: 400px;

        img {
          width: 160px;
          height: 160px;
          border: 6px solid #be5050;
          border-radius: 50%;
          transform: translateY(-45px);
        }

        p {
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }

  .browse {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    .population {
      margin-right: 8rem;
      h1 {
        font-size: 42px;
      }
      p {
        font-size: 60px;
        color: #be5050;
        font-weight: 900;
        text-shadow: #838080;
      }
    }
    .locate {
      div {
        background: black;
        display: flex;
        align-items: center;
        padding: 4px 4px 4px 50px;
        border-radius: 10px;
        span {
          font-size: 20px;
          font-weight: 800;
          padding-right: 1rem;
          color: #ffffff;
        }
        img {
          width: 36px;
          height: 36px;
          background: #eae8e8;
          padding: 2px;
          border-radius: 6px;
        }
      }
    }
  }
  .download {
    margin: 6rem;
    background: #be5050;
    display: flex;
    height: 480px;
    border-radius: 90px;
    .down-1 {
      color: #eae8e8;
      flex: 1;
      p {
        font-size: 46px;
        font-family: "Josefin Sans", sans-serif;
      }
    }
    .down-2 {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      .phone-bg {
        width: 270px;
        background: #ffffff;
        border-radius: 35px;
        margin-right: 4rem;
        height: 500px;
        transform: rotate(10deg) translate(-2rem, -4rem);
      }
    }
  }
}
