.list-biz {
  display: flex;
  position: relative;
  nav {
    flex: 3;
    background: #be5050;
    h2 {
      margin: 4rem 3rem;
      color: black;
    }
  }
  .list-body {
    flex: 9;
    background: #eae8e8;
    position: relative;
    overflow-x: hidden;

    .white-bg {
      width: 700px;
      height: 558px;
      border-radius: 50px;
      background: #ffffff;
      transform: rotate(-41deg);
      position: absolute;
      top: -39%;
      left: 52%;
    }

    .list-form {
      position: relative;
      z-index: 1;
      padding: 3rem 2rem;
      .item-1 {
        padding: 3rem 2rem;
        border-radius: 8px;
        background: $footerBg;
        opacity: 85%;
        h2 {
          padding-left: 1rem;
          margin-bottom: 1rem;
          font-weight: 800;
          color: #be5050;
        }

        form {
          display: flex;
          flex-direction: column;
          .form-container {
            display: flex;
            margin-bottom: 1rem;
            .form-element {
              flex: 1;
              display: flex;
              flex-direction: column;
              padding: 0 1rem;

              label {
                font-size: 14px;
                font-weight: 600;
              }

              input {
                padding: 10px;
                border-radius: 5px;
                outline: none;
                border: 2px solid #eae8e8;
                &:focus {
                  border: 2px solid #979595;
                }
              }
            }
            .form-sign {
              flex: 1;
              display: flex;
              padding-top: 1rem;
              .sign {
                max-width: 200px;
                text-align: center;
                margin-right: 1rem;
                a {
                  padding: 8px 30px;
                  border-radius: 8px;
                  background: black;
                  color: #ffffff;
                }
                h5 {
                  font-size: 12px;
                  font-weight: 300;
                  margin-top: 1rem;
                }
              }
            }
            .form-service {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                img {
                  width: 20px;
                  margin-right: 0.5rem;
                }
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  .user-form {
    position: absolute;
    background: #ffffff;
    border-radius: 45px;
    top: 16%;
    left: 19%;
    width: 73%;
    .item-1 {
      grid-column: 1 / 2;
      display: flex;
      padding: 5rem;

      flex-direction: column;
      justify-content: center;
      h2 {
        margin-bottom: 2rem;
        margin-top: 1rem;
        color: #be5050;
      }
      .service-form {
        display: flex;

        .form-1 {
          display: flex;
          flex: 1;
          flex-direction: column;
          padding: 0 1rem;
          .txt {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
