.client-login {
  display: flex;
  background: #eae8e8;
  min-height: 600px;
  .company {
    flex: 5;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      position: absolute;
      background: #be5050;
      width: 350px;
      height: 670px;
      border-radius: 55px;
      transform: rotate(-35deg);
    }
    .first {
      left: -21%;
      top: 6%;
    }
    .second {
      height: 650px;
      top: -15%;
      right: -18%;
      opacity: 15%;
    }
  }
  .login {
    flex: 3;
    background: #ffffff;
    display: flex;
    align-items: center;
    .clgn {
      // margin: auto;
      width: 100%;
      padding: 0 3rem;
      h3 {
        color: #be5050;
        margin-bottom: 2rem;
        font-weight: 700;
      }

      .service-form {
        display: flex;
        flex-direction: column;
        .txt {
          margin-bottom: 1rem;
        }

        label {
          font-size: 14px;
          font-weight: 600;
        }

        input {
          padding: 10px;
          border-radius: 5px;
          outline: none;
          border: 2px solid #eae8e8;
          &:focus {
            border: 2px solid #979595;
          }
        }

        button {
          background: #be5050;
          border-radius: 5px;
          padding: 10px;
          border: none;
          a {
            text-decoration: none;
            color: #ffffff;
            text-align: center;
          }
        }
      }

      h5 {
        color: black;
        font-size: 12px;
        font-weight: 300;
        margin-top: 0.5rem;
        text-align: center;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .lgn {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      padding: 2rem;

      h2 {
        padding-left: 1rem;
        margin-bottom: 1rem;
        font-weight: 800;
        // color: #be5050;
      }

      button {
        background: #be5050;
        color: white;
        padding: 10px;
        border-radius: 8px;
        margin: 1rem 0;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        a {
          text-decoration: none;
          color: #ffffff;
          text-align: center;
        }
        &:hover {
          background: #be5050;
        }
      }
      h5 {
        font-size: 12px;
        color: black;
        font-weight: 300;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
