.product-page {
  position: relative;
  min-height: 100vh;
  background: #eae8e8;
  padding: 0 4rem;

  .product-nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    .product-nav-logo {
      display: flex;
      flex-direction: column;
    }

    .product-nav-icon {
      span {
        margin-right: 2rem;
      }
    }
  }

  .product-top {
    height: 280px;
    background: #be5050;
    border-radius: 25px;
    padding: 0 40px;
    margin: 6rem 0;
    position: relative;

    .product-top-title {
      font-style: normal;
      font-weight: 800;
      font-size: 55px;
      color: #ffffff;
      width: 470px;
      position: absolute;
      top: 32.11%;
      display: flex;
      flex-direction: column;
    }

    .product-top-img1 {
      position: absolute;
      left: 40.89%;
      bottom: -13%;
      width: 250px;
      height: 200px;
    }

    .product-top-img2 {
      position: absolute;
      left: 55.21%;
      bottom: -33%;
      width: 150px;
      height: 550px;
    }

    .product-top-img3 {
      position: absolute;
      left: 64.22%;
      bottom: 0%;
      width: 400px;
      height: 220px;
    }
  }

  .brand-logo {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;

    .brand-item {
      flex: 1;
      text-align: center;
      span {
        font-size: 24px;
        font-weight: 500;
      }
      .marini {
        width: 120px;
        height: 120px;
      }
      .akusi {
        width: 117px;
      }
      .laguah {
        width: 190px;
      }
    }
  }

  .shop-logo {
    width: 280px;
    position: absolute;
    color: #be5050;
    font-size: 20px;
    right: -6rem;
    top: 32rem;
    display: flex;
    transform: rotate(-90deg);

    .line {
      border: none;
      margin-left: 8px;
      border-bottom: 3px solid rgba(0, 0, 0, 0.5);
      width: 200px;
    }
  }

  .products-category {
    margin-top: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: auto;

    .prv {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      font-size: 36px;
      z-index: 1;
      cursor: pointer;
    }
    .nxt {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      font-size: 36px;
      z-index: 1;
      right: 0;
      cursor: pointer;
    }

    .category {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: grid;
      grid-gap: 12px;
      grid-template-rows: 300px;
      grid-template-columns: repeat(6, 270px);
      overflow-x: hidden;
      scroll-behavior: smooth;
      padding-right: 8px;

      .category-item {
        border-radius: 15px;
        background: #ffffff;
        position: relative;
        margin: 1rem;
        box-shadow: 2px -1px 12px 0px rgba(0, 0, 0, 0.75);

        span {
          position: absolute;
          font-size: 24px;
          font-weight: 700;
          top: 30%;
          margin: 0 1.5rem;
        }

        a {
          position: absolute;
          bottom: 1.5rem;
          right: 1.5rem;
          background: #ffbf81;
          color: #ffffff;
          border-radius: 8px;
          padding: 12px 14px;
        }
      }
    }
  }

  .featured {
    margin-top: 6rem;
    h4 {
      margin-bottom: 2rem;
      font-size: 20px;
    }
    .featured-products {
      display: flex;

      .featured-item {
        flex: 1;
        background: #b9b3b347;
        margin: 0 1rem;
        margin-bottom: 4rem;
        border-radius: 10px;
        box-shadow: 2px 3px 12px -1px rgba(0, 0, 0, 0.75);

        .featured-item-img {
          overflow-y: hidden;
          height: 340px;
          border-radius: 10px 10px 0 0;
          background: #ffffff;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          img {
            width: 90%;
            height: 85%;
          }
        }
        .featured-item-details {
          padding-top: 1rem;
          text-align: center;
          p {
            font-size: 16px;
          }

          h4 {
            font-weight: 800;
            color: #aca6a7;
            margin-bottom: 0.5rem;
          }

          button {
            border: none;
            background: #be5050;
            font-size: 16px;
            cursor: pointer;
            font-weight: 800;
            border-radius: 8px;
            padding: 10px 22px;
            color: #ffffff;
            margin-bottom: 1rem;
          }
        }

        &:hover {
          // border: 1px solid #be5050;
          box-shadow: 2px -1px 12px 0px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .product-page {
    .product-top {
      .product-top-title {
        font-size: 45px;
      }
      .product-top-img1 {
        left: 30.89%;
        bottom: -13%;
        width: 240px;
        height: 180px;
      }

      .product-top-img2 {
        left: 45.21%;
        bottom: -33%;
        width: 140px;
        height: 500px;
      }

      .product-top-img3 {
        left: 54.22%;
        bottom: 0%;
        width: 360px;
        height: 200px;
      }
    }
    .featured {
      .featured-products {
        .featured-item {
          .featured-item-img {
            img {
              width: 250px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-page {
    .product-top {
      height: 250px;
      .product-top-title {
        font-size: 32px;
      }
      .product-top-img1 {
        left: 30.89%;
        bottom: -13%;
        width: 190px;
        height: 150px;
      }

      .product-top-img2 {
        left: 45.21%;
        bottom: -33%;
        width: 90px;
        height: 430px;
      }

      .product-top-img3 {
        left: 54.22%;
        bottom: 0%;
        width: 270px;
        height: 156px;
      }
    }
    .brand-logo {
      .brand-item {
        .marini {
          width: 90px;
          height: 90px;
        }
        .akusi {
          width: 90px;
          height: 67px;
        }
        .laguah {
          width: 130px;
        }
      }
    }
    .featured {
      padding: 0;
      .featured-products {
        .featured-item {
          height: 440px;
          .featured-item-img {
            img {
              width: 250px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
}
@media (min-width: 575px) {
}
