@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.home-page {
  background: #eae8e8;
  position: relative;
  overflow-x: hidden;
}

.home-page .red-bg {
  position: absolute;
  width: 500px;
  height: 600px;
  background: #be5050;
  top: 0;
  right: 0;
}

.home-page .red-bg img {
  height: 550px;
  width: 500px;
  -webkit-transform: rotate(11deg);
          transform: rotate(11deg);
}

.home-page nav {
  padding: 2rem;
  position: relative;
}

.home-page nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

.home-page nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 200px;
          flex: 1 200px;
  text-align: center;
}

.home-page .header {
  padding-top: 16rem;
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
}

.home-page .header .header-1 {
  width: 500px;
}

.home-page .header .header-1 p {
  font-size: 56px;
  font-weight: 500;
}

.home-page .header .header-1 .beauty {
  font-weight: 500;
  font-size: 42px;
}

.home-page .header .header-1 h3 {
  font-size: 40px;
  color: #a5a2a2;
  font-weight: 400;
}

.home-page .header .header-1 button {
  vertical-align: bottom;
}

.home-page .header .header-2 {
  background: black;
  width: 425px;
  height: 380px;
  position: relative;
}

.home-page .header .header-2 img {
  position: absolute;
  -webkit-transform: translate(7rem, 2.5rem);
          transform: translate(7rem, 2.5rem);
  width: 350px;
  height: 305px;
}

.home-page .step-swagger {
  font-family: "Montserrat", sans-serif;
  margin: 5rem;
}

.home-page .step-swagger .step {
  font-size: 51px;
}

.home-page .step-swagger .your {
  color: #030303;
  font-size: 56px;
}

.home-page .step-swagger .swag {
  color: #be5050;
  font-size: 70px;
}

.home-page .services {
  display: -ms-grid;
  display: grid;
  margin: 4rem 3rem;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 4rem;
  -ms-grid-rows: (220px)[2];
      grid-template-rows: repeat(2, 220px);
}

.home-page .services .service {
  position: relative;
  background: #ffffff;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
}

.home-page .services .service h3 {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
}

.home-page .services .service button {
  position: absolute;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bolder;
  padding: 12px 20px;
  background: black;
  color: #ffffff;
  border-radius: 25px;
}

.home-page .services .left-part h3 {
  left: 2rem;
  top: 2rem;
}

.home-page .services .left-part button {
  left: 1.5rem;
  bottom: 1.5rem;
}

.home-page .services .right-part h3 {
  right: 2rem;
  top: 2rem;
}

.home-page .services .right-part button {
  right: 2rem;
  bottom: 1.5rem;
}

.home-page .services .haircuts {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
}

.home-page .services .haircuts img {
  width: 210px;
  height: 210px;
  -webkit-transform: translate(-2rem, -3rem);
          transform: translate(-2rem, -3rem);
}

.home-page .services .barber {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 1 / 4 / 2 / 6;
}

.home-page .services .barber img {
  width: 290px;
  height: 297px;
  -webkit-transform: translate(62px, -77px);
          transform: translate(62px, -77px);
}

.home-page .services .color {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: 1 / 6 / 2 / 8;
  background: black;
}

.home-page .services .color img {
  width: 200px;
  height: 250px;
  -webkit-transform: translate(100px, -77px);
          transform: translate(100px, -77px);
}

.home-page .services .color h3 {
  color: #eae8e8;
}

.home-page .services .color button {
  background: #ffffff;
  color: black;
}

.home-page .services .eyelashes {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: 1 / 8 / 2 / 10;
}

.home-page .services .eyelashes img {
  width: 235px;
  height: 162px;
  -webkit-transform: translate(2px, 37px);
          transform: translate(2px, 37px);
}

.home-page .services .facials {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
}

.home-page .services .facials img {
  width: 207px;
  height: 131px;
}

.home-page .services .facials h3 {
  right: 1rem;
}

.home-page .services .facials button {
  bottom: 1rem;
  left: 1rem;
}

.home-page .services .braids {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 2 / 3 / 3 / 6;
  background: black;
}

.home-page .services .braids img {
  width: 250px;
  height: 250px;
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
}

.home-page .services .braids h3 {
  color: #eae8e8;
}

.home-page .services .braids button {
  background: #ffffff;
  color: black;
}

.home-page .services .natural {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: 2 / 6 / 3 / 8;
}

.home-page .services .natural img {
  width: 185px;
  height: 163px;
  -webkit-transform: translate(86px, 53px);
          transform: translate(86px, 53px);
  position: relative;
  z-index: 1;
}

.home-page .services .natural button {
  padding-right: 100px;
}

.home-page .services .nails {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: 2 / 8 / 3 / 10;
}

.home-page .services .nails img {
  height: 205px;
  width: 235px;
  -webkit-transform: translate(79px, -15px);
          transform: translate(79px, -15px);
}

.home-page .why {
  margin: 4rem 4rem;
}

.home-page .why .why-title {
  text-align: center;
  margin-bottom: 4rem;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 2rem;
}

.home-page .why .why-title h2 {
  font-size: 42px;
  color: #be5050;
}

.home-page .why .why-title h3 {
  font-size: 32px;
}

.home-page .why .why-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page .why .why-body .why-item {
  font-family: "Montserrat", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 1rem 2rem;
}

.home-page .why .why-body .why-item img {
  width: 72px;
  height: 72px;
}

.home-page .why .why-body .why-item h2 {
  margin: 1rem;
  font-size: 24px;
  font-weight: 800;
  color: #be5050;
}

.home-page .olive-oil {
  height: 280px;
  background: #be5050;
  border-radius: 0 45px 45px 0;
  margin: 6rem 0;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.home-page .olive-oil .olive-title {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 93px;
  color: #ffffff;
  padding-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .olive-oil .olive-img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-page .olive-oil .olive-img #ol-img-1 {
  position: absolute;
  bottom: -20%;
  left: -61px;
  width: 400px;
  height: 400px;
}

.home-page .olive-oil .olive-img #ol-img-2 {
  position: absolute;
  left: 25%;
  bottom: 15px;
  width: 120px;
  height: 300px;
}

.home-page .olive-oil .olive-shop {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Josefin Sans", sans-serif;
}

.home-page .olive-oil .olive-shop h2 {
  font-size: 35px;
}

.home-page .olive-oil .olive-shop p {
  font-size: 24px;
  color: #ffffff;
}

.home-page .olive-oil .olive-shop button {
  background: black;
  color: #eae8e8;
  padding: 10px 22px;
  border-radius: 25px;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
}

.home-page .pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.home-page .pro .pro-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 36px;
  margin-right: 6rem;
}

.home-page .pro .pro-1 .pro-1-p {
  color: #be5050;
}

.home-page .pro .pro-2 button {
  background: #be5050;
  color: #eae8e8;
  border: none;
  padding: 14px 16px;
  border-radius: 15px;
  vertical-align: middle;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.home-page .clients {
  margin: 4rem;
}

.home-page .clients h1 {
  margin-bottom: 8rem;
}

.home-page .clients .client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page .clients .client-list .client-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1rem;
  background: #f7f2f2;
  border-radius: 55px;
  padding: 0 1rem;
  text-align: center;
  min-height: 400px;
}

.home-page .clients .client-list .client-item img {
  width: 160px;
  height: 160px;
  border: 6px solid #be5050;
  border-radius: 50%;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}

.home-page .clients .client-list .client-item p {
  font-family: "Montserrat", sans-serif;
}

.home-page .browse {
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.home-page .browse .population {
  margin-right: 8rem;
}

.home-page .browse .population h1 {
  font-size: 42px;
}

.home-page .browse .population p {
  font-size: 60px;
  color: #be5050;
  font-weight: 900;
  text-shadow: #838080;
}

.home-page .browse .locate div {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 4px 4px 50px;
  border-radius: 10px;
}

.home-page .browse .locate div span {
  font-size: 20px;
  font-weight: 800;
  padding-right: 1rem;
  color: #ffffff;
}

.home-page .browse .locate div img {
  width: 36px;
  height: 36px;
  background: #eae8e8;
  padding: 2px;
  border-radius: 6px;
}

.home-page .download {
  margin: 6rem;
  background: #be5050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 480px;
  border-radius: 90px;
}

.home-page .download .down-1 {
  color: #eae8e8;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 6rem;
}

.home-page .download .down-1 p {
  font-size: 46px;
  font-family: "Josefin Sans", sans-serif;
}

.home-page .download .down-1 div {
  margin-top: 1rem;
}

.home-page .download .down-1 div img {
  width: 200px;
  height: 64px;
}

.home-page .download .down-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home-page .download .down-2 .phone-bg {
  width: 270px;
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 35px;
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  font-family: "Josefin Sans", sans-serif;
  -webkit-transform: rotate(10deg) translate(-2rem, -4rem);
          transform: rotate(10deg) translate(-2rem, -4rem);
}

.home-page .download .down-2 .phone-bg header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page .download .down-2 .phone-bg header img {
  -webkit-transform: rotate(-11deg);
          transform: rotate(-11deg);
}

.home-page .download .down-2 .phone-bg div:nth-of-type(1) {
  font-size: 12px;
}

.home-page .download .down-2 .phone-bg div:nth-of-type(1) span {
  margin-right: 1rem;
}

.home-page .download .down-2 .phone-bg p {
  font-size: 12px;
  margin-top: 1rem;
  color: #be5050;
  opacity: 28%;
}

.home-page .download .down-2 .phone-bg div:nth-of-type(2) {
  height: 234px;
  position: relative;
}

.home-page .download .down-2 .phone-bg div:nth-of-type(2) img {
  position: absolute;
}

.home-page .download .down-2 .phone-bg div:nth-of-type(2) .dwn-lf {
  width: 195px;
  height: 140px;
  bottom: 0;
}

.home-page .download .down-2 .phone-bg div:nth-of-type(2) .dwn-cn {
  height: 220px;
  bottom: 0;
  -webkit-transform: rotate(-11deg);
          transform: rotate(-11deg);
}

.home-page .download .down-2 .phone-bg h6 {
  color: #be5050;
}

.home-page .download .down-2 .phone-bg button {
  margin-top: 2.5rem;
  background: black;
  color: #ffffff;
  padding: 6px 0;
  border: none;
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
}

.home-page .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2] 2fr;
      grid-template-columns: repeat(2, 1fr) 2fr;
}

.home-page .footer .social {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  height: 370px;
  overflow: hidden;
}

.home-page .footer .social .ft-bg {
  height: 500px;
  width: 500px;
  background-color: #be5050;
  border-radius: 50%;
  -webkit-transform: translateX(-37%);
          transform: translateX(-37%);
  position: relative;
}

.home-page .footer .social .ft-bg .twt {
  position: absolute;
  font-size: 42px;
  top: 1rem;
  left: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  cursor: pointer;
}

.home-page .footer .social .ft-bg .inst {
  position: absolute;
  font-size: 42px;
  top: 15%;
  right: 22%;
  cursor: pointer;
}

.home-page .footer .social .ft-bg .pin {
  position: absolute;
  font-size: 42px;
  top: 30%;
  right: 10%;
  cursor: pointer;
}

.home-page .footer .social .ft-bg .fab {
  position: absolute;
  font-size: 42px;
  top: 45%;
  right: 7%;
  cursor: pointer;
}

.home-page .footer .social .ft-bg .shine {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 58%;
  border: 1px solid #707070;
  background: #eae8e8;
  right: -2%;
  border-radius: 50%;
  opacity: 0.62;
}

.home-page .footer .bio {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  padding: 1rem 2rem;
}

.home-page .footer .bio h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  color: #be5050;
  margin-bottom: 1rem;
}

.home-page .footer .bio p {
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  font-weight: 500;
}

.home-page .footer .contact {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 2 / 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 1rem 2rem;
}

.home-page .footer .contact .quick {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 /2 /2;
}

.home-page .footer .contact .quick h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  color: #be5050;
  margin-bottom: 1rem;
}

.home-page .footer .contact .quick ul {
  list-style: none;
}

.home-page .footer .contact .quick ul li {
  font-family: "Josefin Sans", sans-serif;
  line-height: 24px;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 6px;
  cursor: pointer;
}

.home-page .footer .contact .talk {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.home-page .footer .contact .talk h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  color: #be5050;
  margin-bottom: 1rem;
}

.home-page .footer .contact .talk ul {
  list-style: none;
}

.home-page .footer .contact .talk ul li {
  font-family: "Josefin Sans", sans-serif;
  line-height: 24px;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 6px;
  cursor: pointer;
}

.home-page .footer .contact .subscribe {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
}

.product-page {
  position: relative;
  max-width: 1920px;
  min-height: 100vh;
  background: #eae8e8;
  padding: 0 4rem;
}

.product-page .product-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

.product-page .product-nav .product-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-page .product-nav .product-nav-icon span {
  margin-right: 2rem;
}

.product-page .product-top {
  height: 280px;
  background: #be5050;
  border-radius: 25px;
  padding: 0 40px;
  margin: 6rem 0;
  position: relative;
}

.product-page .product-top .product-top-title {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  color: #ffffff;
  width: 470px;
  position: absolute;
  top: 32.11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-page .product-top .product-top-img1 {
  position: absolute;
  left: 40.89%;
  bottom: -13%;
  width: 250px;
  height: 200px;
}

.product-page .product-top .product-top-img2 {
  position: absolute;
  left: 55.21%;
  bottom: -33%;
  width: 150px;
  height: 550px;
}

.product-page .product-top .product-top-img3 {
  position: absolute;
  left: 64.22%;
  bottom: 0%;
  width: 400px;
  height: 220px;
}

.product-page .brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-page .brand-logo .brand-item {
  width: 200px;
  text-align: center;
}

.product-page .shop-logo {
  width: 280px;
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  color: #be5050;
  font-size: 20px;
  right: -6rem;
  top: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.product-page .shop-logo .line {
  border: none;
  margin-left: 8px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  width: 200px;
}

.product-page .products-category {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 30px 1fr 30px;
      grid-template-columns: 30px 1fr 30px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.product-page .products-category .prv {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  font-size: 20px;
  background: blueviolet;
  color: #ffffff;
  z-index: 1;
  border: none;
  border-radius: 15px;
  padding: 12px 14px;
}

.product-page .products-category .nxt {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  font-size: 20px;
  background: blueviolet;
  color: #ffffff;
  z-index: 1;
  border: none;
  border-radius: 15px;
  right: 0;
  padding: 12px 14px;
}

.product-page .products-category .category {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
  -ms-grid-rows: 340px;
      grid-template-rows: 340px;
  -ms-grid-columns: (270px)[6];
      grid-template-columns: repeat(6, 270px);
  overflow-x: hidden;
}

.product-page .products-category .category .category-item {
  border-radius: 25px;
  background: #ffffff;
  position: relative;
  margin: 1rem;
}

.product-page .products-category .category .category-item span {
  position: absolute;
  font-size: 35px;
  font-weight: 700;
  top: 30%;
  margin: 0 1.5rem;
}

.product-page .products-category .category .category-item button {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  bottom: 1.5rem;
  right: 1.5rem;
  background: #ffbf81;
  color: #ffffff;
  border-radius: 25px;
  padding: 12px 14px;
  border: none;
}

.product-page .featured {
  margin-top: 6rem;
  padding: 0 2rem;
}

.product-page .featured h4 {
  margin-bottom: 5rem;
  font-size: 20px;
}

.product-page .featured .featured-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-page .featured .featured-products .featured-item {
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  max-width: 33%;
  height: 500px;
}

.product-page .featured .featured-products .featured-item .featured-item-img {
  overflow-y: hidden;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product-page .featured .featured-products .featured-item .featured-item-details {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 2rem;
  padding-left: 1.5rem;
}

.product-page .featured .featured-products .featured-item .featured-item-details p {
  font-size: 14px;
  margin-bottom: 2rem;
}

.product-page .featured .featured-products .featured-item .featured-item-details h2 {
  font-size: 36px;
  font-weight: 800;
  color: #aca6a7;
  margin-bottom: 1rem;
}

.product-page .featured .featured-products .featured-item .featured-item-details button {
  border: none;
  background: #be5050;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  border-radius: 25px;
  padding: 10px 22px;
  color: #ffffff;
}

.category-page {
  position: relative;
  height: 120vh;
  padding: 0 4rem;
  background: #eae8e8;
  overflow-x: hidden;
  overflow-y: hidden;
}

.category-page .category-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

.category-page .category-nav .category-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-page .category-nav .category-nav-icon span {
  margin-right: 2rem;
}

.category-page .nav-links {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}

.category-page .red-bg {
  position: absolute;
  height: 594px;
  width: 800px;
  background: #be5050;
  border-radius: 25px;
  -webkit-transform: rotate(-62deg);
          transform: rotate(-62deg);
  left: 76.62%;
  top: 15.99%;
}

.category-page .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 8rem;
}

.category-page .category .category-item {
  position: relative;
  height: 290px;
  width: 270px;
  border-radius: 25px;
  background: #ffffff;
  margin: 1rem;
  padding: 1rem 1.5rem;
}

.category-page .category .category-item .category-item-tag {
  background: #ffbf81;
  height: 200px;
  width: 150px;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(20deg) translateY(-74px);
          transform: skewY(20deg) translateY(-74px);
  border-radius: 10px 10px 0 10px;
}

.category-page .category .category-item .category-item-details {
  position: absolute;
  bottom: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
}

.category-page .category .category-item .category-item-details span {
  font-size: 16px;
  font-style: normal;
}

.category-page .category .category-item .category-item-details .category-item-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.category-page .category .category-item .category-item-details .category-item-cart h4 {
  font-size: 26px;
  color: #be5050;
}

.category-page .category .category-item .category-item-details .category-item-cart img {
  background: #ffbf81;
  padding: 2px;
  border-radius: 25px;
}

.product-item-page {
  position: relative;
  padding: 0 4rem;
  background: #eae8e8;
  overflow-x: hidden;
  overflow-y: hidden;
}

.product-item-page .product-item-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

.product-item-page .product-item-nav .product-item-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-item-page .product-item-nav .product-item-nav-icon span {
  margin-right: 2rem;
}

.product-item-page .nav-links {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}

.product-item-page .red-bg {
  position: absolute;
  height: 594px;
  width: 800px;
  background: #be5050;
  border-radius: 25px;
  -webkit-transform: rotate(-62deg);
          transform: rotate(-62deg);
  left: 76.62%;
  top: 15.99%;
}

.product-item-page .product-item {
  position: relative;
  height: 420px;
  width: 70%;
  border-radius: 25px;
  background: #ffffff;
  margin: 1rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding: 1rem 2rem;
}

.product-item-page .product-item .product-item-tag {
  background: #ffbf81;
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0;
  -webkit-transform: skewY(20deg) translateY(-74px);
          transform: skewY(20deg) translateY(-74px);
  border-radius: 10px 10px 0 10px;
}

.product-item-page .product-item .product-item-details {
  position: absolute;
  top: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.product-item-page .product-item .product-item-details span {
  font-size: 26px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}

.product-item-page .product-item .product-item-details .product-item-cart {
  margin-top: 2rem;
  font-size: 36px;
  color: #be5050;
}

.product-item-page .product-item .product-item-desc {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  top: 50%;
  width: 90%;
}

.product-item-page .product-item .product-item-desc .brand-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-item-page .product-item .product-item-desc .brand-rate div .br-dsc {
  font-family: "Montserrat", sans-serif;
}

.product-item-page .product-item .product-item-desc .brand-feature {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-item-page .product-item .product-item-desc .brand-feature ul {
  list-style-type: square;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.product-item-page .product-item .product-item-desc .brand-feature ul li {
  margin-left: 6px;
}

.product-item-page .product-item .product-item-desc .brand-feature ul li:nth-of-type(1) {
  list-style: none;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

.product-item-page .product-item .product-item-desc .brand-feature button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Josefin Sans", sans-serif;
  background: #be5050;
  color: #ffffff;
  font-size: 20px;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.service-page {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: 2fr 9fr;
      grid-template-columns: 2fr 9fr;
  position: relative;
}

.service-page .service-nav {
  background: #be5050;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  position: fixed;
  width: 18.2%;
  height: 100vh;
}

.service-page .service-nav h1 {
  font-size: 20px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.service-page .service-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-page .service-nav ul li {
  padding: 1rem 2rem;
  font-size: 16px;
  font-weight: 800;
}

.service-page .service-body {
  background: #eae8e8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  -ms-grid-rows: 100px auto;
      grid-template-rows: 100px auto;
}

.service-page .service-body .user-details {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-page .service-body .user-details h3 {
  margin-right: 16px;
}

.service-page .service-body .user-details img {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.service-page .service-body .service-info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
  display: -ms-grid;
  display: grid;
  row-gap: 16px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  -ms-grid-rows: 50px 300px 300px;
      grid-template-rows: 50px 300px 300px;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.service-page .service-body .service-info .title-details {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  list-style: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Josefin Sans", sans-serif;
}

.service-page .service-body .service-info .title-details li {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

.service-page .service-body .service-info .title-body {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  background: #ffffff;
  display: -ms-grid;
  display: grid;
  border-radius: 45px;
}

.service-page .service-body .service-info .prof-details {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
  background: #ffffff;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.service-page .service-body .service-info .prof-details img {
  width: 173px;
  height: 170px;
  margin: 1.5rem 0;
}

.service-page .service-body .service-info .prof-details h3,
.service-page .service-body .service-info .prof-details p {
  font-size: 16px;
  color: #ffbf81;
}

.service-page .service-body .service-info .prof-details h4 {
  margin: 1rem 0;
  color: #ffbf81;
}

.service-page .service-body .service-info .prof-details h5 {
  margin: 1rem 0;
  font-size: 16px;
  font-weight: 800;
}

.service-page .service-body .service-info .prof-details button {
  margin-top: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 800;
  background: #be5050;
  color: #ffffff;
  padding: 4px 18px;
  border-radius: 5px;
  border: none;
}

.service-page .service-body .service-info .prof-details .biz-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-page .service-body .service-info .prof-details .biz-time ul {
  list-style: none;
}

.service-page .service-body .service-info .prof-details .biz-time ul .time {
  margin-left: 8px;
  color: #be5050;
}

.service-page .service-body .service-info .map-details {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  background: #ffffff;
  border-radius: 45px;
}

.service-page .wallet {
  background: #eae8e8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  -ms-grid-rows: 100px auto;
      grid-template-rows: 100px auto;
}

.service-page .wallet .user-details {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-page .wallet .user-details h3 {
  margin-right: 16px;
}

.service-page .wallet .user-details img {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.service-page .wallet .wallet-info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
  display: -ms-grid;
  display: grid;
  row-gap: 32px;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
  -ms-grid-columns: 4fr 6fr;
      grid-template-columns: 4fr 6fr;
}

.service-page .wallet .wallet-info .wallet-gross {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 45px;
  background: #ffffff;
  padding: 3rem;
  position: relative;
}

.service-page .wallet .wallet-info .wallet-gross h4 {
  font-size: 14px;
  margin-bottom: 1rem;
}

.service-page .wallet .wallet-info .wallet-gross h2 {
  font-size: 42px;
  color: #be5050;
  font-family: "Josefin Sans", sans-serif;
}

.service-page .wallet .wallet-info .wallet-gross button {
  position: absolute;
  bottom: 3rem;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 10px;
  color: #ffffff;
  background: #be5050;
  font-family: "Josefin Sans", sans-serif;
}

.service-page .wallet .wallet-info .earning-monthly {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  border-radius: 45px;
  background: #ffffff;
}

.service-page .wallet .wallet-info .transaction {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
  border-radius: 45px;
  padding: 3rem;
  background: #ffffff;
  overflow-y: scroll;
}

.service-page .wallet .wallet-info .transaction .tras {
  margin-top: 1rem;
}

.service-page .wallet .wallet-info .transaction .tras .tras-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #be5050;
}

.service-page .wallet .wallet-info .transaction .tras .tras-item h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  margin-right: 1rem;
}

.service-page .dashboard {
  background: #eae8e8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  -ms-grid-rows: 100px auto;
      grid-template-rows: 100px auto;
}

.service-page .dashboard .user-details {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-page .dashboard .user-details h3 {
  margin-right: 16px;
}

.service-page .dashboard .user-details img {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.service-page .dashboard .dashboard-info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
  display: -ms-grid;
  display: grid;
  row-gap: 32px;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -ms-grid-rows: 250px 300px;
      grid-template-rows: 250px 300px;
  -ms-grid-columns: 3fr 3fr 4fr;
      grid-template-columns: 3fr 3fr 4fr;
}

.service-page .dashboard .dashboard-info .clients {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 45px;
  background: #ffffff;
  padding: 3rem;
  font-family: "Josefin Sans", sans-serif;
}

.service-page .dashboard .dashboard-info .clients h2 {
  color: #be5050;
  font-size: 32px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.service-page .dashboard .dashboard-info .clients p {
  font-size: 18px;
}

.service-page .dashboard .dashboard-info .total {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 45px;
  background: #ffffff;
  padding: 3rem;
  font-family: "Josefin Sans", sans-serif;
}

.service-page .dashboard .dashboard-info .total h2 {
  color: #be5050;
  font-size: 32px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.service-page .dashboard .dashboard-info .total p {
  font-size: 18px;
}

.service-page .dashboard .dashboard-info .annual {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  border-radius: 45px;
  background: #ffffff;
  padding: 3rem;
}

.service-page .dashboard .dashboard-info .calendar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 1 / 4;
  border-radius: 45px;
  background: #ffffff;
  padding: 3rem;
}

.service-page .dashboard .dashboard-info .appnt {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  border-radius: 45px;
  padding: 1rem;
}

.service-page .dashboard .dashboard-info .appnt ul {
  list-style: none;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
}

.service-page .dashboard .dashboard-info .appnt .appnt-list .appnt-item {
  background: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.service-page .dashboard .dashboard-info .appnt .appnt-list .appnt-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-page .dashboard .dashboard-info .appnt .appnt-list .appnt-item div span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #c4c4c4;
  margin-right: 1rem;
}

.service-page .dashboard .dashboard-info .appnt .appnt-list .appnt-item button {
  color: #ffffff;
  background: #be5050;
  border: none;
  border-radius: 8px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  padding: 4px 12px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

.service-page .appointment {
  background: #eae8e8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  -ms-grid-rows: 100px auto;
      grid-template-rows: 100px auto;
}

.service-page .appointment .user-details {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-page .appointment .user-details h3 {
  margin-right: 16px;
}

.service-page .appointment .user-details img {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.service-page .appointment .appointment-info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
  -ms-grid-columns: 4fr 6fr;
      grid-template-columns: 4fr 6fr;
}

.service-page .appointment .appointment-info .userlist {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 /2;
  border-radius: 45px;
  background: #ffffff;
  padding: 2rem 0;
}

.service-page .appointment .appointment-info .userlist .appnt-list .appnt-item {
  padding: 1rem;
  border-bottom: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.service-page .appointment .appointment-info .userlist .appnt-list .appnt-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-page .appointment .appointment-info .userlist .appnt-list .appnt-item div span {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #c4c4c4;
  margin-right: 1rem;
}

.service-page .appointment .appointment-info .userlist .appnt-list .appnt-item button {
  color: #ffffff;
  background: #ffbf81;
  border: none;
  border-radius: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  padding: 4px 18px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

.service-page .appointment .appointment-info .userlist .appnt-list .appnt-item:hover {
  background: #e4e1e1;
}

.service-page .appointment .appointment-info .app-info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  border-radius: 45px;
  background: #ffffff;
  padding: 3rem;
}

.service-page .appointment .appointment-info .app-info .info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.service-page .appointment .appointment-info .app-info .info-header span {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #c4c4c4;
  margin-right: 3rem;
}

.service-page .appointment .appointment-info .app-info .info-header div h3 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
}

.service-page .appointment .appointment-info .app-info .info-header div h4 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.service-page .appointment .appointment-info .app-info p {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 24px;
}

.service-page .appointment .appointment-info .app-info p span {
  color: #ffffff;
  background: #ffbf81;
  border-radius: 4px;
  padding: 4px 8px;
}

.service-page .appointment .appointment-info .app-info div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 11rem;
}

.service-page .appointment .appointment-info .app-info div:nth-of-type(2) button {
  color: #ffffff;
  background: #be5050;
  padding: 12px 18px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
}

.item_overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 750px;
  height: 430px;
  max-width: 80%;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border-radius: 20px;
  z-index: 5;
  background: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 4fr;
      grid-template-columns: 6fr 4fr;
}

.item_overlay .item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin-left: 3rem;
  padding-left: 2rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_overlay .item-1 h2 {
  margin-bottom: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: #be5050;
}

.item_overlay .item-1 .service-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item_overlay .item-1 .service-form .txt {
  margin-bottom: 1rem;
}

.item_overlay .item-1 .hour-form .biz-tym {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.item_overlay .item-1 .hour-form .biz-tym span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.item_overlay .item-1 .hour-form .biz-tym div {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_overlay .item-1 .hour-form .biz-tym div span {
  text-align: center;
}

.item_overlay .item-1 .save {
  margin-top: 1rem;
}

.item_overlay .biz-hours {
  margin-left: 2rem;
  padding-left: 0;
}

.item_overlay .biz-hours .imgadd form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item_overlay .biz-hours .imgadd form .button {
  border: 2px dotted black;
  border-radius: 25px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_overlay .biz-hours .imgadd form .button label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.item_overlay .biz-hours .imgadd form .button label .faplus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 40px;
  cursor: pointer;
  color: black;
  padding: 11px 6px;
  border-radius: 50%;
  background: #be5050;
  margin-bottom: 1rem;
}

.item_overlay .biz-hours .imgadd form .button input[type="file"] {
  visibility: hidden;
  position: absolute;
}

.item_overlay .biz-hours .imgadd form button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #be5050;
  border: none;
  padding: 6px 15px;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.item_overlay .item-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background: #be5050;
  border-radius: 0 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item_overlay .item-2 img {
  height: 80%;
  width: 90%;
}

.item_overlay .item-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background: #be5050;
  border-radius: 0 20px 20px 0;
  position: relative;
}

.item_overlay .item-3 img {
  position: absolute;
}

.item_overlay .item-3 img:nth-of-type(1) {
  width: 400px;
  height: 300px;
  left: -3rem;
  bottom: 0;
}

.item_overlay .item-3 img:nth-of-type(2) {
  width: 117px;
  height: 350px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.item_overlay .item-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  padding-right: 2rem;
}

.item_overlay .item-4 p {
  margin-bottom: 1rem;
  font-size: 20px;
  text-align: center;
}

.item_overlay .item-4 button {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  background: #be5050;
  padding: 6px 15px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1rem;
  cursor: pointer;
}

#add_service.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#add_product.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#add_time.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#add_image.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#add_profile.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#del_product.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.list-biz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 650px;
  position: relative;
}

.list-biz nav {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background: #be5050;
}

.list-biz nav h2 {
  margin: 4rem 3rem;
}

.list-biz .list-body {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  background: #eae8e8;
  position: relative;
  overflow-x: hidden;
}

.list-biz .list-body .white-bg {
  width: 700px;
  height: 500px;
  border-radius: 50px;
  background: #ffffff;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  position: absolute;
  top: -40%;
  left: 52%;
}

.list-biz .list-body .list-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.list-biz .list-body .list-form .item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 6rem;
  padding-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-biz .list-body .list-form .item-1 h2 {
  margin-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: #be5050;
}

.list-biz .list-body .list-form .item-1 .service-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-biz .list-body .list-form .item-1 .service-form .txt {
  margin-bottom: 1rem;
}

.list-biz .list-body .list-form .item-1 .hour-form .biz-tym {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.list-biz .list-body .list-form .item-1 .hour-form .biz-tym span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.list-biz .list-body .list-form .item-1 .hour-form .biz-tym div {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-biz .list-body .list-form .item-1 .hour-form .biz-tym div span {
  text-align: center;
}

.list-biz .list-body .list-form .item-1 .save {
  margin-top: 1rem;
}

.list-biz .list-body .list-form .sign {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.list-biz .list-body .list-form .sign div {
  position: absolute;
  top: 40%;
  left: 30%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.list-biz .list-body .list-form .sign section {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-biz .list-body .list-form .sign section article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0 1rem;
}

.list-biz .list-body .list-form .sign section article p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.list-biz .list-body .list-form .sign section article button {
  padding: 10px 20px;
  margin-bottom: 1rem;
  background: black;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  outline: none;
  border-radius: 15px;
}

.list-biz .user-form {
  position: absolute;
  background: #ffffff;
  border-radius: 45px;
  top: 16%;
  left: 19%;
  width: 73%;
}

.list-biz .user-form .item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-biz .user-form .item-1 h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: #be5050;
}

.list-biz .user-form .item-1 .service-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-biz .user-form .item-1 .service-form .form-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

.list-biz .user-form .item-1 .service-form .form-1 .txt {
  margin-bottom: 1rem;
}

.client-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eae8e8;
  min-height: 600px;
}

.client-login .company {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-login .company div {
  position: absolute;
  background: #be5050;
  width: 350px;
  height: 670px;
  border-radius: 55px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.client-login .company .first {
  left: -21%;
  top: 6%;
}

.client-login .company .second {
  height: 650px;
  top: -15%;
  right: -18%;
  opacity: 15%;
}

.client-login .login {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-login .login section {
  text-align: center;
}

.client-login .login section h2 {
  font-size: 26px;
  color: #be5050;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 3rem;
}

.client-login .login section .service-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

.client-login .login section .service-form .txt {
  margin-bottom: 1rem;
}

.client-login .login section button {
  background: black;
  color: white;
  font-size: 18px;
  padding: 8px 32px;
  border-radius: 20px;
  margin: 1rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

.client-login .login section h4 {
  margin: 1rem;
  font-size: 15px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */