@import "./font";
@import "./variables";
@import "./home";
@import "./header";
@import "./product";
@import "./category";
@import "./productitem";
@import "./service";
@import "./listbiz";
@import "./login";
@import "./client";
@import "./book";
@import "./loggedhome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}
@media (min-width: 575px) {
}
