@font-face {
  font-family: "Manjari";
  font-weight: 100;
  font-display: block;
  src: url("../font/Manjari-Thin.ttf");
}

@font-face {
  font-family: "Manjari";
  font-weight: 400;
  font-display: block;
  src: url("../font/Manjari-Regular.ttf");
}

@font-face {
  font-family: "Manjari";
  font-weight: 600;
  font-display: block;
  src: url("../font/Manjari-Bold.ttf");
}

@import "./variables";
@import "./home";
@import "./header";
@import "./product";
@import "./category";
@import "./productitem";
@import "./service";
@import "./listbiz";
@import "./login";
@import "./client";
@import "./book";
@import "./loggedhome";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manjari", sans-serif;
}

.App {
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}
@media (min-width: 575px) {
}
